

  <div class="bar bar-header bar-calm">
 
  <div class="h1 title">iVolunteer</div>
 
</div> 
<ion-content>

  <ion-card>

   <!--  <img src="/img/volunteer.png"/> -->
   <b>  Today: {{external}}-{{external2}}-{{external3}} </b> <br/>
   <h2> iVolunteer do you?</h2>
    <img src="/img/vol.jpg"/>

    <ion-card-content>
      <ion-card-title>
   
      </ion-card-title>
      <p>
        
      </p>
    </ion-card-content>

   

    
  </ion-card>

   
</ion-content>


<!-- <link rel="stylesheet" md-href="css/styles.css">

<ion-view view-title="iVolunteer">
  
   <ion-pane>
    
      
  <ion-content ng-controller="HomeCtrl">

     <ion-refresher on-refresh="loadData()"
                         pulling-text="Pull to refresh..."
                         refreshing-text="Refreshing!"
                         refreshing-icon="ion-loading-c">

      </ion-refresher>
            
    <div>
      <label>{{external}}-{{external2}}-{{external3}}</label>
    </div>
    
  </ion-content>
          
   </ion-pane>
 
</ion-view> -->