<ion-tabs class="tabs-icon-top tabs-color-active-positive">

 <!-- Home Tab -->
  <ion-tab title="Home" icon="ion-home" href="#/tab/home" ngClick="checkTab()">
    <ion-nav-view  name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Create Tab -->
  <ion-tab title="Create Entries" icon="ion-android-create"  href="#/tab/create">
    <ion-nav-view name="tab-create"></ion-nav-view>
  </ion-tab>

  <!-- Schedule Tab -->
  <ion-tab title="Entries" icon="ion-calendar" href="#/tab/entries">
    <ion-nav-view name="tab-entries"></ion-nav-view>
  </ion-tab>

 <!-- Map Tab -->
  <ion-tab title="Map" icon="ion-ios-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

</ion-tabs>